
if BOARD_ANGRY_MIAO_HATSU_LEFT

config ZMK_KEYBOARD_NAME
    default "Angry Miao Hatsu"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif # BOARD_ANGRY_MIAO_HATSU_RIGHT

if BOARD_ANGRY_MIAO_HATSU_LEFT || BOARD_ANGRY_MIAO_HATSU_RIGHT

config BOARD
	default "angry_miao_hatsu"

config BT_CTLR
	default BT

config BT
    default y

config ZMK_BLE
    default y

config ZMK_SPLIT
    default y

config USB_NRFX
    default y

config ZMK_USB
    default y

endif # BOARD_ANGRY_MIAO_HATSU_LEFT || BOARD_ANGRY_MIAO_HATSU_RIGHT